* {
  margin: 0px;
  padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .05em;
}
body {
	background-color: #F8F6F5;
}
/* buttons */
.edit, .delete {
	height: 20px;
}
.light-btn {
	background: #FFF;
	border-radius: 0;
	color: #0844A4;
	font-weight: bold;
	border: 3px solid;
	margin-bottom: 100px;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
}

/* nav */

.nav-bar {
	padding-top: 40px;
}

.search-devs {
	display: inline-block;
	color: #FFF;
	margin: 0px 0px 0px 40px;
}

.logout-btns {
	float: right;
	color: #FFF;
}

.my-account {
	display: inline-block;
	margin: 0px 20px 0px 20px;
}

.logout {
	display: inline-block;
}

/* home */
.hero {
	background: url('../img/workspace.jpg') center no-repeat;
	background-size: cover;
	height: 100%;
	height: 100vh;
	width: 100%;
	color: #FFF;
}
.shadow {
	background: rgba(0,0,0,.6);
	height: 100%;
	height: 100vh;
	width: 100%;
}
.brand {
	display: inline-block;
	margin-top: 40px;
}
.logo {
	margin-left: 60px;
	height: 80px;
	display: inline;
}
.name {
	display: inline-block;
	margin-left: 20px;
}
.account-functions {
	display: inline-block;
	float: right;
	margin-right: 60px;
	margin-top: 40px;
	width: 300px;
}
.login-btns {
	float: right;
}
.login-submit {
	background: #0844A4;
	border-radius: 0;
	color: #FFF;
	font-weight: 500;
	border: 2px solid;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 20px;
}
.users-create, .login {
	display: inline;
	margin: 0px 20px;
}
.login-form {
	width: 300px;
	margin-top: 20px;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
}
.home-username, .home-password {
	width: 260px;
	margin-bottom: 2px;
	margin-top: 5px;
	border-radius: 0px;
	background: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	color: #FFF;
	margin-left: 0px;
}
.home-password > .input__field--hoshi, .home-username > .input__field--hoshi, .home-password > .input__label--hoshi, .home-username > .input__label--hoshi {
	color: #c5c8d1;
}
.home-username::-webkit-input-placeholder, .home-password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.home-username::-moz-placeholder, .home-password::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.home-username:-ms-input-placeholder, 
.home-password:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.home-username:-moz-placeholder, 
.home-password:-ms-input-placeholder { /* Firefox 18- */
  color: white;
}
.header {
	width: 570px;
	margin: 0px auto;
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%); 
}
.headline {
	font-size: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}
.subheadline {
	font-size: 28px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.register-btn {
	background: #0844A4;
	font-size: 24px;
	padding: 10px 40px;
	border: 4px solid #FFF;
	margin: 0px auto;
	display: block;
	text-transform: uppercase;
}
/* Register */
.reg-heading {
	margin: 40px 0px;
	margin-top: -60px;
}
.reg-logo {
	margin-left: 0px;
	margin-top: 40px;
}
.image-sel {
	position: relative;
	float: right;
}
#image-preview {
  width: 200px;
  height: 200px;
	position: absolute;
  overflow: hidden;
  background-color: #ffffff;
	color: #ecf0f1;
	right: 0;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
	width: 140px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.reg-skill-level {
	background: transparent;
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
	background: transparent;
	color: #595F6E;
	font-size: 20px;
	margin-top: 36px;
	padding-bottom: 10px;
}
.reg-sel {
	height: 75px;
  display: block;
  
}
/* select 2 mods */
span.select2-selection.select2-selection--multiple {
	background: transparent;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}
.reg-tech {
	color: #6a7989;
	font-weight: bold;
	font-size: 18px;
}

/* Projects */
.add-proj {
	cursor: pointer;
	font-size: 40px;
}
.create-project {
	display: none;
	border: 1px solid #ccc;
	padding: 20px 20px;
}

.projectTile {
	border: 1px solid black;
	margin-top: 8px;
	padding: 10px;
}

.project-form-title {
	text-decoration: underline;
	margin-bottom: 15px;
}

.project-name {
	display: inline;
}

.user-contact-tile {
	border-left: 1px solid block;
}

.text-area {
	height: 40px;
	width: 550px;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
}

textarea {
	width: 100%;
	height: 100%;
}

/* profile */

.user-profile-pic {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: 0px auto;
}
.user-contact-me {
	margin: 0px auto;
}
.user-header {
	background: url('../img/header.jpg') no-repeat;
	background-size: cover;
	height: 240px;
}
.user-edit {
	float: right;
}
.user-contact-block {
	margin-top: -75px;
}
.user-contact-header {
	margin: 40px 0px;
}
.user-info-block {
	margin-top: 75px;
}
.user-full-name {
	margin: 40px 0px;
}
.user-add-proj {
	text-align: right;
}
.user-proj-tile {
	border: 1px black;
}
.user-proj-list {
	display: inline-block;
}
.user-proj-edit {

}
.user-proj-delete {

}
.user-proj-fn {
	float: right;
}
.user-proj-img {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin: 20px;
}
.create-project > .input--hoshi {
	margin: 0px 0px;
}
.user-proj-blurb {
	background: transparent;
	margin: 20px 0px;
	color: #595F6E;
	font-size: 18px;
	padding: 10px;
}
.user-proj-blurb::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 20px;
	font-weight: bold;
}
.user-proj-blurb::-moz-placeholder { /* Firefox 19+ */
	font-size: 20px;
	font-weight: bold;
}
.user-proj-blurb:-ms-input-placeholder { /* IE 10+ */
	font-size: 20px;
	font-weight: bold;
}
.user-proj-blurb:-moz-placeholder { /* Firefox 18- */
	font-size: 20px;
	font-weight: bold;
}

.projects-header {
	height: 100px;
	margin-bottom: 50px;
}

.small-logo-blue {
	height: 76px;
	width: 76px;
}
.projects-logout {
	color: #0844A4;
	display: inline-block;
}
.projects-account {
	color: #0844A4;
	display: inline-block;
	margin: 0px 20px 0px 20px;
}
.search-projects {
	display: inline-block;
	color: #0844A4;
	margin: 0px 0px 0px 40px;
}

.techSideBar {
	margin-bottom: 40px;
}
.techNews {
	height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.techPost {
	margin-bottom: 20px
}

/*MAP*/

#map {
	background-color: grey;
	border: 2px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
}
