<div class="hero">
  <div class="shadow">
    <div class="brand">
      <img class="logo" src="./img/Logo.png">
      <h3 class="name">DevMatch</h3>
    </div>
    <div class="account-functions">
      <div class="login-btns">
        <h3 class="users-create" ui-sref="usersCreate">Register</h3>
        <h3 class="login">Login</h3>
      </div>
      <div class="form-group col-md-12 login-form">
        <div class="form-group">
          <input type="text" class="form-control home-username" placeholder="Username" required ng-model="user.username">
          <input type="password" class="form-control home-password" placeholder="Password" required ng-model="user.password">
          <p ng-show="errorMessage">invalid username and password</p>
          <button ng-click="login()">submit</button>
        </div>
      </div>
    </div>

    <div class="header">
      <h1 class="headline">Develop Experience</h1>
      <h3 class="subheadline">Link up with our network of developers to expand your skill set and portfolio</h3>
      <button ui-sref="usersCreate" class="register-btn">Register To Collab</button>
    </div>
  </div>
</div>

