<div class="user-header">
  <div class="container nav-bar">
    <img ui-sref="projects" class="page-logo-black" src="./img/logo-white.png">
    <h3 ui-sref="projects" class="search-devs">Projects</h3>
    <h3 ui-sref="users" class="search-devs">Devs</h3>
    <div class="logout-btns">
      <h3 ui-sref="user ({id: currentUser.id})" class="my-account">My Account</h3>
      <h3 ng-click="logout()" class="logout">Logout</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4 user-contact-block">
    <img class="user-profile-pic img-responsive" ng-src="{{project.users[0].user.image}}">
    <div class="user-contact-tile">
      <h3 class="user-contact-header">Contact</h3>
      <h4>
        <strong>Name:</strong> {{project.users[0].user.firstName}} {{project.users[0].user.lastName}}</h4>
      <h4>
      <h4>
        <strong>Phone:</strong> {{project.users[0].user.phoneNumber}}</h4>
      <h4>
        <strong>Email:</strong> {{project.users[0].user.email}}</h4>
      <h4>
        <a target="_blank" href="{{project.users[0].user.linkedIn}}">View LinkedIn Profile</a>
      </h4>
      <h4>
        <a target="_blank" href="{{project.users[0].user.gitHubLink}}">View GitHub Profile</a>
      </h4>
      <button class="user-contact-me light-btn btn-4">
        <span>
          <a class="mailto" href="mailto:{{project.users[0].user.email}}">Contact Me</a>
        </span>
      </button>
    </div>
  </div>

  <div class="col-md-8 user-info-block">
    <img ng-if="currentUser.id == project.users[0].id" ui-sref="projectUpdate ({id: project.id})" class="edit user-edit pull-right"
      src="./img/edit.svg">
    <h1 class="user-full-name">{{project.projectName}}</h1>
    <h4 class="proj-description">{{project.description}}</h4>
    <h4>
      <strong>Project Status: </strong>{{project.status}}
    </h4>
    <h4>
      <strong>Desired Team Size: </strong> {{project.desiredTeamSize}}
    </h4>
    <h4>
      <strong>Current Team Size: </strong> {{project.currentTeamSize}}
    </h4>

    <div>
      <h3>Technologies Seeking:</h3>
      <div ng-repeat="seekProjTechnology in project.projectTechnologies" ng-show="seekProjTechnology.isSeeking == true"> {{seekProjTechnology.technology.name}}</div>
    </div>

    <div>
      <h3>Technologies Using:</h3>
      <div ng-repeat="useProjTechnology in project.projectTechnologies" ng-show="useProjTechnology.isUsing == true"> {{useProjTechnology.technology.name}}</div>
    </div>
  </div>
</div>