<div class="col-md-8">
  <input type="text" class="form-control" placeholder="Search Projects">
  <div>
    <p class="add-proj">+</p>
    <div class="form-group col-md-12 create-project">
      <input type="text" class="form-control" placeholder="Project Name">
      <textarea placeholder="Blurb"></textarea>
      Desired Team Size
      <select name="text" title="Desired Team Size">
        <option value="value1" selected>2</option>
        <option value="value2">3</option>
        <option value="value3">4</option>
        <option value="value4">5</option>
        <option value="value5">6</option>
        <option value="value6">7</option>
        <option value="value7">8</option>
        <option value="value8">9</option>
        <option value="value9">10</option>
      </select>
      <select name="text" title="Desired Team Size">
        <option value="value1" selected>Not Started</option>
        <option value="value2">In Progress</option>
      </select>
      <p>Seeking developers with the following skills:</p>
      <input type="text" class="form-control" placeholder="Skills">
      <p>Technologies Using:</p>
      <input type="text" class="form-control" placeholder="Technologies">
    </div>
    <div>
      <img class="edit" src="./img/edit.svg">
      <img class="delete" src="./img/delete.png">
      <img src="{{user.image}}">
      <h4>{{project.projectName}}</h4>
      <p>{{project.description}}</p>
      <p>{{project.status}}</p>
    </div>

    <div>
      <img class="edit" src="./img/edit.svg">
      <img class="delete" src="./img/delete.png">
      <img src="{{user.image}}">
      <h4>{{project.projectName}}</h4>
      <p>{{project.description}}</p>
      <p>{{project.status}}</p>
    </div>

  </div>
</div>
<div class="col-md-4">
  <h2>News Feed</h2>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellendus accusantium explicabo placeat incidunt sunt? Nesciunt placeat corporis laboriosam sunt voluptate ipsum adipisci alias, necessitatibus magnam, quod repudiandae voluptatibus natus.</div>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellendus accusantium explicabo placeat incidunt sunt? Nesciunt placeat corporis laboriosam sunt voluptate ipsum adipisci alias, necessitatibus magnam, quod repudiandae voluptatibus natus.</div>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellendus accusantium explicabo placeat incidunt sunt? Nesciunt placeat corporis laboriosam sunt voluptate ipsum adipisci alias, necessitatibus magnam, quod repudiandae voluptatibus natus.</div>
</div>

