<div>
  <img src="{{user.Image}}">
  <div>
    <h3>Contact</h3>
    <h4>{{user.UserName}}</h4>
    <h4><strong>Phone:</strong> {{user.PhoneNumber}}</h4>
    <h4><strong>Email:</strong> {{user.Email}}</h4>
    <h4><a href="{{user.LinkedIn}}">View LinkedIn Profile</a></h4>
    <h4><a href="{{user.GitHubLink}}">View GitHub Profile</a></h4>
    <button>I'm Interested</button>
  </div>
</div>
<div>
  <img class="edit" src="./img/edit.svg">
  <img class="delete" src="./img/delete.png">
  <h1>{{project.ProjectName}}</h1>
  
  <p>{{project.Description}}</p>

  <p><strong>Project Status:</strong>{{project.Status}}</p> 
  <p><strong>Desired Team Size:</strong> {{project.DesiredTeamSize}}</p>
  <p><strong>Current Team Size:</strong> {{project.CurrentTeamSize}}</p>

  <div>
    <h3><strong>Technologies Seeking:</strong> </h3>
    
  </div>

  <div>
    <h3><strong>Technologies Using:</strong> </h3>
    
  </div>
</div>