<h1>Edit Project</h1>
<div class="form-group col-md-12">
  <input type="text" class="form-control" placeholder="Project Name">
  <textarea placeholder="Blurb"></textarea>
  Desired Team Size
  <select name="text" title="Desired Team Size">
    <option value="value1" selected>2</option>
    <option value="value2">3</option>
    <option value="value3">4</option>
    <option value="value4">5</option>
    <option value="value5">6</option>
    <option value="value6">7</option>
    <option value="value7">8</option>
    <option value="value8">9</option>
    <option value="value9">10</option>
  </select>
  Current Team Size
  <select name="text" title="Current Team Size">
      <option value="value1" selected>2</option>
      <option value="value2">3</option>
      <option value="value3">4</option>
      <option value="value4">5</option>
      <option value="value5">6</option>
      <option value="value6">7</option>
      <option value="value7">8</option>
      <option value="value8">9</option>
      <option value="value9">10</option>
    </select>
  <select name="text" title="Desired Team Size">
    <option value="value1" selected>Not Started</option>
    <option value="value2">In Progress</option>
    <option value="value3">Completed</option>
  </select>
  <p>Seeking developers with the following skills:</p>
  <input type="text" class="form-control" placeholder="Skills">
  <p>Technologies Using:</p>
  <input type="text" class="form-control" placeholder="Technologies">
</div>
<button>Update</button>