<h1>Search Developers In Your Area</h1>

<h4>Seeking developer with the following skills:</h4>
<textarea></textarea>
<button class="btn btn-primary btn-lg" ng-click="findUsers()">FIND</button>

//map of local users
<!--map below shows markers for all center locations. will filter markers by the user's search as well-->
<div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="40.716, -100.971" zoom="4" style="display:block; width:auto; height:auto;">
        <marker ng-repeat="user in users" position="{{ user.addressLine1}} {{user.city}} {{user.state}}" title="{{user.firstName}} {{user.lastName}}"></marker>
    </ng-map>
</div>