<div class="user-header">
  <div class="container nav-bar">
    <img ui-sref="projects" class="page-logo-black" src="./img/logo-white.png">
    <h3 ui-sref="projects" class="search-devs">Projects</h3>
        <h3 ui-sref="users" class="search-devs">Devs</h3>
        <div class="logout-btns">
          <h3 ui-sref="user" class="my-account">My Account</h3>
          <h3 ng-click="logout()" class="logout">Logout</h3>
        </div>
  </div>
</div>
<div class="container">
  <div class="col-md-4 user-contact-block">
    <img class="user-profile-pic img-responsive" src="{{currentUser.image}}">
    <div>
      <h3 class="text-center user-contact-header">Contact</h3>
      <h4><strong>Phone:</strong> {{user.phoneNumber}}</h4>
      <h4><strong>Email:</strong> {{user.email}}</h4>
      <h4><a href="{{user.LinkedIn}}">View LinkedIn Profile</a></h4>
      <h4><a href="{{user.GitHubLink}}">View GitHub Profile</a></h4>
      <button class="user-contact-me">Contact Me</button>
    </div>
  </div>
  <div class="col-md-8 user-info-block">
    <img ng-click="editUser()" class="edit user-edit" src="./img/edit.svg">
    <h1 class="user-full-name">{{user.firstName}} {{user.lastName}}</h1>
    <h4>{{user.userName}}</h4>

    <h4><strong>Job Title:</strong> {{user.jobTitle}}</h4>
    <h4><strong>Proficiency Level:</strong> {{user.proficiencyLevel}}</h4>

    <div>
      <h3>My Skills: </h3>
        <!--bind technologies info to the user profile-->
    </div>

    <div>
      <h3>My Projects: </h3>
      <!--list projects once bind data is possible (join table)-->
      <div>
        <p class="add-proj user-add-proj">+</p>
        <div class="form-group col-md-12 create-project">
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="projName">
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="projName">
              <span class="input__label-content input__label-content--hoshi">Project Name</span>
            </label>
          </span>

          <textarea class="col-md-12 user-proj-blurb" placeholder="Blurb"></textarea>

          <div class="form-group col-md-6 reg-sel">
            <label for="projTeamSize"></label>
            <select class="reg-skill-level input--hoshi" id="projTeamSize" name="text" title="Proficiency Level" ng-model="user.proficiencyLevel">
              <option value="" disabled selected>Select desired team size</option>
              <option value="value1">2</option>
              <option value="value2">3</option>
              <option value="value3">4</option>
              <option value="value4">5</option>
              <option value="value5">6</option>
              <option value="value6">7</option>
              <option value="value7">8</option>
              <option value="value8">9</option>
              <option value="value9">10</option>
            </select>
          </div>

          <div class="form-group col-md-6 reg-sel">
            <label></label>
            <select class="reg-skill-level input--hoshi" name="text" title="Proficiency Level" ng-model="user.proficiencyLevel">
              <option value="" disabled selected>Select project status</option>
              <option value="value1" selected>Not Started</option>
              <option value="value2">In Progress</option>
            </select>
          </div>

          <p>Seeking developers with the following skills:</p>
            <select multiple="" class="tags">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>BootStrap</option>
                    <option>JavaScript</option>
                    <option>AngularJS</option>
                    <option>C#</option>
                    <option>ASP.NET Core</option>
                    <option>Node.js</option>
                    <option>MySQL</option>
                    <option>React</option>
                    <option>Ojective-C</option>
                    <option>jQuery</option>
                    <option>MongoDB</option>
                    <option>C / C++</option>
                    <option>Ruby</option>
                    <option>SpringMVC</option>
                    <option>Java</option>
                    <option>PHP</option>
                    <option>AWS</option>
                    <option>Azure</option>
                    <option>Entity Framework Core</option>
                    <option>SQL Server</option>
                    <option>Dapper</option>
                    <option>NancyFX</option>
                    <option>.Net Core 2.0</option>
                    <option>C#</option>
                    <option>Xcode</option>
                    <option>Swift</option>
                    <option>Django</option>
                    <option>Ajax</option>
                    <option>Python</option>
                  </select>
          <p>Technologies Using:</p>
            <select multiple="" class="tags">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>BootStrap</option>
                    <option>JavaScript</option>
                    <option>AngularJS</option>
                    <option>C#</option>
                    <option>ASP.NET Core</option>
                    <option>Node.js</option>
                    <option>MySQL</option>
                    <option>React</option>
                    <option>Ojective-C</option>
                    <option>jQuery</option>
                    <option>MongoDB</option>
                    <option>C / C++</option>
                    <option>Ruby</option>
                    <option>SpringMVC</option>
                    <option>Java</option>
                    <option>PHP</option>
                    <option>AWS</option>
                    <option>Azure</option>
                    <option>Entity Framework Core</option>
                    <option>SQL Server</option>
                    <option>Dapper</option>
                    <option>NancyFX</option>
                    <option>.Net Core 2.0</option>
                    <option>C#</option>
                    <option>Xcode</option>
                    <option>Swift</option>
                    <option>Django</option>
                    <option>Ajax</option>
                    <option>Python</option>
                  </select>
        </div>
      </div>
      <div class="user-proj-list">

        <div class="user-proj-tile">
          <div class="user-proj-fn">
            <img ui-sref="projectUpdate" class="edit user-proj-edit" src="./img/edit.svg">
            <img class="delete" src="./img/delete.png">
          </div>
          <img class="user-proj-img" src="{{currentUser.image}}">
          <h4>{{project.ProjectName}}</h4>
          <p>{{project.Description}}</p>
          <p>{{project.Status}}</p>
        </div>

        <div class="user-proj-tile">
          <div class="user-proj-fn">
            <img class="edit user-proj-edit" src="./img/edit.svg">
            <img class="delete" src="./img/delete.png">
          </div>
          <img class="user-proj-img" src="{{user.image}}">
          <h4>{{project.ProjectName}}</h4>
          <p>{{project.Description}}</p>
          <p>{{project.Status}}</p>
        </div>

      </div>
    </div>
  </div>
</div>