<div class="projects-header">
    <div class="container nav-bar">
        <img ui-sref="projects" class="small-logo-blue" src="./img/Logo.png">
        <h3 ui-sref="projects" class="search-projects">Projects</h3>
        <h3 ui-sref="users" class="search-projects">Devs</h3>
        <div class="logout-btns">
            <h3 ui-sref="user" class="projects-account">My Account</h3>
            <h3 ng-click="logout()" class="projects-logout">Logout</h3>
        </div>
    </div>
</div>


<h1 class="text-center">Search Developers In Your Area</h1>

<div class="container">
<div class="form-group col-md-10">
    <select name="text" title="Cities" ng-model="citySearch">
        <option value="">Search for developers in your city</option>
        <option>Long Beach</option>
        <option>Brooklyn</option>
    </select>
</div>
</div>

<!-- <div class="form-group col-md-offset-4 col-md-4">
    user can search by city to filter data-->
   <!-- <input type="text" class="form-control" placeholder="Search for developers in your city..." ng-model="city">
</div>

<div class="container">
<table class="table table-hover table-bordered table-responsive">
    <thead>
        <th>City</th>
        <th>State</th>
    </thead>  -->
    <!--ng-repeat will filter by the user's search of city. click on a particular center directs you to center show page-->
    <!-- <tbody ng-repeat="user in users | filter:  { city: search }">
        <td> {{ user.city }} </td>
        <td> {{ user.state }} </td>
    </tbody>
</table>
</div> --> 


<!-- <h4>Seeking developer with the following skills:</h4>
<div class="row">
    <div id="skills" class="tab-pane cont">
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label reg-tech">Technical Skills</label>
                <div class="col-sm-10">
                    <select multiple="" class="tags">
                      <option>HTML</option>
                      <option>CSS</option>
                      <option>BootStrap</option>
                      <option>JavaScript</option>
                      <option>AngularJS</option>
                      <option>C#</option>
                      <option>ASP.NET Core</option>
                      <option>Node.js</option>
                      <option>MySQL</option>
                      <option>React</option>
                      <option>Ojective-C</option>
                      <option>jQuery</option>
                      <option>MongoDB</option>
                      <option>C / C++</option>
                      <option>Ruby</option>
                      <option>SpringMVC</option>
                      <option>Java</option>
                      <option>PHP</option>
                      <option>AWS</option>
                      <option>Azure</option>
                      <option>Entity Framework Core</option>
                      <option>SQL Server</option>
                      <option>Dapper</option>
                      <option>NancyFX</option>
                      <option>.Net Core 2.0</option>
                      <option>C#</option>
                      <option>Xcode</option>
                      <option>Swift</option>
                      <option>Django</option>
                      <option>Ajax</option>
                      <option>Python</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
<button class="btn btn-primary btn-lg" ng-click="findUsers()">FIND</button>
</div>
</div>


map below shows markers for all center locations. will filter markers by the user's search as well-->
<div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="38.457791, -99.641980" zoom="5" style="display:block; width:auto; height:auto;">
        <marker ng-repeat="user in users | filter: citySearch" position="{{ user.addressLine1}} {{user.city}} {{user.state}}" title="{{user.firstName}} {{user.lastName}}"></marker>
    </ng-map>
</div>

<!-- <div ng-if="citySearch == Long Beach" id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="33.756158, -118.123691" zoom="17">
        <marker position="{{ user.addressLine1}} {{user.city}} {{user.state}}}"></marker>
    </ng-map>
</div> -->