<div class="user-header">
  <div class="container nav-bar">
    <img ui-sref="projects" class="page-logo-black" src="./img/logo-white.png">
    <h3 ui-sref="projects" class="search-devs">Projects</h3>
    <h3 ui-sref="users" class="search-devs">Devs</h3>
    <div class="logout-btns">
      <h3 ui-sref="user ({id: user.id})" class="my-account">My Account</h3>
      <h3 ng-click="logout()" class="logout">Logout</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-4 user-contact-block">
    <img class="user-profile-pic img-responsive" src="{{user.image}}">
    <div class="user-contact-tile">
      <h3 class="user-contact-header">Contact</h3>
      <h4><strong>Phone:</strong> {{user.phoneNumber}}</h4>
      <h4><strong>Email:</strong> {{user.email}}</h4>
      <h4><a target="_blank" href="{{user.linkedIn}}">View LinkedIn Profile</a></h4>
      <h4><a target="_blank" href="{{user.gitHubLink}}">View GitHub Profile</a></h4>
      <button class="user-contact-me light-btn"><a class="mailto" href="mailto:{{user.email}}">Contact Me</a></button>
    </div>
  </div>
  <div class="col-md-8 user-info-block">
    <img ng-click="editUser()" class="edit user-edit" src="./img/edit.svg">
    <h1 class="user-full-name">{{user.firstName}} {{user.lastName}}</h1>
    <h4 class="user-username">{{user.userName}}</h4>

    <h4><strong>Job Title:</strong> {{user.jobTitle}}</h4>
    <h4><strong>Proficiency Level:</strong> {{user.proficiencyLevel}}</h4>

    <div>
      <h3>My Skills: </h3>
      {{  }}
    </div>

    <div>
      <h3>My Projects: </h3>
      <div ng-repeat="project in user.userProjects" class="projectTile">
        <h4 class="project-name" ui-sref="project ({id: project.project.id})">
          <strong>{{project.project.projectName}} </strong>
        </h4>
        <h5>{{project.project.description}}</h5>
        <p><em>{{project.project.status}}</em></p>
      </div>
  
      <div class="row">
        <p class="user-add-proj"><span class="add-proj">+</span></p>
        <div class="col-md-12 create-project">
  
          <div class="form-group create-name">
            <span class="input input--hoshi">
              <input class="input__field input__field--hoshi" type="text" id="projName" ng-model="project.projectName" />
              <label class="input__label input__label--hoshi input__label--hoshi-color-1">
                  <span class="input__label-content input__label-content--hoshi">Project Name</span>
              </label>
            </span>
          </div>
  
          <textarea class="col-md-12 user-proj-blurb" placeholder="Blurb" ng-model="project.description"></textarea>
  
          <div class="form-group col-md-6 reg-sel">
            <select class="reg-skill-level input--hoshi" ng-model="project.desiredTeamSize">
                  <option value="">Select desired team size</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
            </select>
          </div>

          <div class="form-group col-md-6 reg-sel">
            <select class="reg-skill-level input--hoshi" ng-model="project.status">
                <option value="">Select project status</option>
                <option>Not Started</option>
                <option>In Progress</option>
            </select>
          </div>

          <div class="form-group row">
            <label class="col-md-12 control-label">Seeking developers with the following skills:</label>
            <div class="col-md-12">
              <ui-select ng-model="project.seekingSkills" multiple theme="selectize">
                <ui-select-match placeholder="Seeking the following technologies.">{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="item in availableTechnologies | filter: $select.search">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12 control-label">Technologies Using:</label>
            <div class="col-md-12">
              <ui-select ng-model="project.usingSkills" multiple theme="selectize">
                <ui-select-match placeholder="Using the following technologies.">{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="item in availableTechnologies | filter: $select.search">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
  
          <div class="row">
            <button class="light-btn add-proj-btn pull-right" ng-click="addProject()">Add Project</button>
          </div>
  
        </div>
      </div>

      <div class="user-proj-list">

        <div ng-repeat="project in projects" class="projectTile">
          <img class="edit pull-right" src="./img/edit.svg" ui-sref="projectUpdate ({id: project.id})">
          <img class="delete pull-right" src="./img/delete.png" ng-click="deleteProject()">
          <img src="{{user.image}}">
          <h4 class="project-name" ui-sref="project ({id: project.id})"><strong>{{project.projectName}} </strong></h4>
          <h5>{{project.description}}</h5>
          <p><em>{{project.status}}</em></p>
        </div>

      </div>
    </div>
  </div>
</div>