<div class="projects-header">
    <div class="container nav-bar">
        <img ui-sref="projects" class="small-logo-blue" src="./img/Logo.png">
        <h3 ui-sref="projects" class="search-projects">Projects</h3>
        <h3 ui-sref="users" class="search-projects">Devs</h3>
        <div class="logout-btns">
            <h3 ui-sref="user" class="projects-account">My Account</h3>
            <h3 ng-click="logout()" class="projects-logout">Logout</h3>
        </div>
    </div>
</div>

<h1 class="text-center">Search Developers In Your Area</h1>

<div class="container">
<div class="form-group col-md-10">
    <select name="text" title="Cities" ng-model="selectedCity" ng-change="zoomCitySearch()">
        <option value="">Select your city</option>
        <option>Long Beach</option>
        <option>Brooklyn</option>
    </select>
</div>
</div>

map below shows markers for all user locations. will filter markers by the user's search as well-->
<div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="{{ MapCenter }}" zoom="{{ MapZoom }}" style="display:block; width:auto; height:auto;" scrollwheel="false">
        <marker ng-repeat="user in users | filter: selectedCity" position="{{ user.addressLine1}} {{user.city}} {{user.state}}"></marker>
    </ng-map>
</div>

<div class="container">
    <table class="table table-hover table-bordered table-responsive">
        <thead id="table-head">
            <th>User</th>
            <th>Tech Skills</th>
            <th>City</th>
        </thead>
        <!--ng-repeat will filter by the user's search of state. click on a particular center directs you to center show page-->
        <tbody ng-repeat="user in users | filter: selectedCity" ui-sref="user({id: user.id})">
            <td>{{ user.userName }}</td>
            <td><span ng-repeat="technology in user.userTechnologies">{{ technology.name }}</span></td>
            <td>{{ user.city }}</td>
        </tbody>
    </table>
</div>
